HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!/src/main/resources/static/
!/src/main/resources/static/**

/package-input/
/installer/
/target/
*.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

application-dev.properties
application-h2.properties
application-prod.properties
application-whatever.properties

/data/
*.mv.db
*.trace.db

/inventory.json
/lastData.dat
*.dat

/warframe-api-helper.exe

.env
.env.*
!.env.example

.idea/
/target/
node_modules/
*.log

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
